@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/static/GeistVariableVF.woff2) format("woff2");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
ul,
ol,
div,
input,
textarea,
button,
label,
select,
option,
form,
fieldset,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-family: "Geist", sans-serif;
}
