{{define "title"}}{{.Title}}{{end}} {{define "scripts"}}{{end}} {{define
"body"}}
<h1>{{.Title}}</h1>
<div>
  <article class="prose">{{.Content}}</article>
</div>
<div class="flex justify-center items-center gap-8">
  <a
    href="/articles/{{.ID}}/edit"
    class="bg-emerald-400 rounded shadow m-2 py-2 px-6 border text-white no-underline"
    >Edit</a
  >

  <form action="/articles/{{.ID}}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <button
      type="submit"
      class="p-2 bg-red-600 rounded shadow m-2 border text-white font-semibold"
    >
      Delete
    </button>
  </form>
</div>
{{end}}
