<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ template "title" . }}</title>
    <link rel="stylesheet" href="/static/processed-styles.css" />
    {{ template "scripts" }}
  </head>
  <body class="max-w-screen-lg mx-auto">
    <header class="flex justify-between items-center">
      <span class="font-bold text-2xl">Jetbrains Blog</span>
      <nav class="flex gap-4">
        <a href="/">Home</a>
        <a href="/articles/new">New Article</a>
      </nav>
    </header>
    {{ template "body" . }}
  </body>
</html>
